<p> teacher detail</p>

<div class="container  mt-4">
    <h3>Teacher Details</h3>
    <hr>
    <!-- <p>Name : <strong>{{teachers.name}}</strong></p> -->
    <div class="row">
        <label class="control-label col-sm-2" for="name"><strong>Name:</strong></label>
        <div class="col-sm-10">
            <label class="control-label col-sm-8">{{teachers.name}}</label>
        </div>
    </div>
    <div class="row">
        <label class="control-label col-sm-3" for="email"><strong>Email:</strong></label>
        <div class="col-sm-12">
            <label class="control-label col-sm-7">{{teachers.email}}</label>
        </div>
    </div>
    <div class="row">
        <label class="control-label col-sm-3" for="class"><strong>Class:</strong></label>
        <div class="col-sm-12">
            <label class="control-label col-sm-7">{{teachers.class}}</label>
        </div>
    </div>
    <div class="row">
        <label class="control-label col-sm-3" for="subject"><strong>Subject:</strong></label>
        <div class="col-sm-12">
            <label class="control-label col-sm-7">{{teachers.subject}}</label>
        </div>
    </div>
    <div class="row">
        <label class="control-label col-sm-3" for="DOB"><strong>:DOB</strong></label>
        <div class="col-sm-12">
            <label class="control-label col-sm-7">{{teachers.dataofbirth}}</label>
        </div>
    </div>
    <div class="row">
        <label class="control-label col-sm-3" for="Enrollmentdate"><strong>EnrollmentDate:</strong></label>
        <div class="col-sm-12">
            <label class="control-label col-sm-7">{{teachers.enrollmentdate}}</label>
        </div>
    </div>
    <div class="row">
        <label class="control-label col-sm-3" for="qualification"><strong>Qualification:</strong></label>
        <div class="col-sm-12">
            <label class="control-label col-sm-7">{{teachers.qualification}}</label>
        </div>
    </div>
</div>