<h2> Student</h2>

<br>
<!-- <app-loading></app-loading> -->

<div class="container">

    <!-- <div *ngIf="isLoading">
        <p>Loading...</p>
    </div>
    <ng-template #error>
        <p>There is some error.</p>
    </ng-template> -->

    <button class="btn btn-primary" (click)="OpenStudentForm()">Add Student</button> &nbsp;
    <!-- <button class="btn btn-danger" (click)="getProduct()">Get Product</button> -->

    <div>
    </div>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>RollNo</th>
                    <th>Email</th>
                    <th>Class</th>
                    <th>DOB</th>
                    <th>Adminssion Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody *ngFor="let Student of students">
                <tr>
                    <td>{{Student.name}}</td>
                    <td>{{Student.rollno}}</td>
                    <td>{{Student.email}}</td>
                    <td>{{Student.class}}</td>
                    <td>{{Student.dataofbirth | date}} </td>
                    <td>{{Student.dateofadmission | date}}</td>
                    <td><button class="btn btn-primary" (click)="editStudent(Student)">Edit</button>&nbsp;
                        <!-- <button class="btn btn-danger" (click)="DeleteStudent(Student.id)">Delete</button> -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>